.animal-logo-ctn {
    display: flex;
    flex-direction: column;
    width: 4vw;
}

.animal-logo {
    width: 4vw;
    height: 100%;

}
.selected {
    /* filter: invert(7%) sepia(100%) saturate(7351%) hue-rotate(248deg) brightness(114%) contrast(141%); */
    filter: invert(66%) sepia(17%) saturate(408%) hue-rotate(322deg) brightness(90%) contrast(86%);
}

.animal-label {
    font-size: 0.6em;
    margin-top: 0;
    text-align: center;
}