.animal-logo-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6vw;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.animal-logo {
  width: 4vw;
  height: 100%;
  cursor: pointer;
}
.selected {
  filter: invert(66%) sepia(17%) saturate(408%) hue-rotate(322deg)
    brightness(90%) contrast(86%);
}

.animal-label {
  font-size: 2vw;
  margin-top: 0.3em;
  margin-bottom: 0em;
  text-align: center;
  cursor: pointer;
}
