.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2vw;
  width: 100%;
}

.name-and-button {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.profile-right h3 {
  margin-top: 0px;
}

.profile-pic {
  width: 35vw;
}

.profile-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-likes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
