body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: 'Comfortaa';
  src: local('Comfortaa'), url(./assests/fonts/Comfortaa-VariableFont_wght.ttf);
  font-weight: normal;
}

@font-face{
  font-family: 'Roboto';
  src: local('Roboto'), url(./assests/fonts/Roboto-Light.ttf) 
}