.progress-bar{
    height: 20px;
    width: 100%;
    background-color: #e0e0de;
    border-radius: 50px;
}

.progress-complete{
    height: 100%;
    background-color: green;
    border-radius: inherit;
    text-align: center;
}

.progress-label{
    padding: 5px;
    color: black;
    font-weight: bold;
}