.project-detail {
    margin: 2vw;
}

.project-summary {
    margin-top: 3vw;
    display: flex;
    justify-content: flex-start;
}

.project-img {
    margin-right: 2vw;
}

.project-animals {
    display: flex;
    align-items: center;
}

.project-body {
    padding: 1vw;
}